* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PixelOperator;
    src: url(Fonts/PixelOperator.ttf);
}

@font-face {
    font-family: RetroGaming;
    src: url(Fonts/Retro\ Gaming.ttf);
}

/* HEADER */

header.menu {
    width: auto;
    height: 100px;
    border-bottom: 2px rgba(188, 188, 188, 0.241) solid;
    padding: 0px 50px;
    box-shadow: 0px 2px 10px rgba(177, 176, 176, 0.204);
}

.menu-wrap {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 80px;
    width: 80px;
    object-fit: contain;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    font-family: PixelOperator, sans-serif;
}

nav li {
    padding-left: 40px;
    font-size: 1.4rem;
}

nav a {
    height: 100px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;

    &:hover {
        color: rgb(144, 144, 144);
    }
}

.menu-icon {
    display: none;
}

#checkbox {
    display: none;
}
label {
    display: none;
}

@media only screen and (max-width: 425px) {
    header img {
        height: 60px;
        width: 60px;
    }
    .menu-icon {
        display: flex;
        font-size: 2.6rem;
        align-items: center;
    }
    .logo-img {
        display: flex;
        align-items: center;
    }
    header.menu {
        padding: 0 30px;
    }
    nav {
        position: absolute;
        background-color: rgb(0, 0, 0);
        top: 100px;
        left: 0;
        width: 100%;
    }
    nav ul {
        display: inline;
        list-style-type: none;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s;
    }
    nav ul li {
        padding: 0 15px;
    }
    nav a {
        display: inline-block;
        height: auto;
        width: 100%;
        padding: 12px;
        color: lightgray;
        text-decoration: none;

        &:hover,
        &:focus {
            color: rgb(144, 144, 144);
        }
    }
    #checkbox {
        display: none;
    }
    #checkbox:checked ~ nav ul {
        max-height: 260px;
        padding: 15px 0;
        transition: all 0.5s;
        margin-bottom: 20px;
    }
    label {
        display: flex;
    }
} 


/* MAIN BANNER */

.banner-hero {
    text-align: center;
    margin: 100px 0px 50px 0px;
}

.banner-hero h1 {
    font-family: RetroGaming, sans-serif;
    font-size: 3.8rem;
    margin-bottom: 60px;
}

.banner-hero h2 {
    font-family: PixelOperator, sans-serif;
    font-size: 2.5rem;
    width: auto;
    display: inline-block;
}

.typewriter {
    display: inline-block;
}

.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(0, 0, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

@media only screen and (max-width: 425px) {
    .banner-hero h1 {
        font-size: 3rem;
    }
    .banner-hero h2 {
        font-size: 2rem;
    }
}

/* LOGOS */

.technologies {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 620px;
}

.logos img {
    height: 90px;
    width: 90px;
    margin: 20px;
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    .logos {
        max-width: 340px;
    }
}

/* CV */

.cv {
    display: flex;
    justify-content: center;
}

.school {
    display: inline-block;
    max-width: 620px;
}

.school h3 {
    font-family: PixelOperator, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 60px;
}

.cv-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-grid {
    display: grid;
    grid-template-columns: 360px;
    grid-template-rows: 75% 25%;
    border: 2px rgba(0, 0, 0, 0) solid;
    align-items: center;
    justify-content: center;
}

.cv-grid img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn-cv {
    text-align: center;
    font-family: RetroGaming, sans-serif;
	background: #ffffff;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(221, 219, 219, 0.55);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 2rem;
	margin: 1rem;
	min-width: 200px;
	padding: 1.5rem;
	text-transform: uppercase;
	width: auto;
	
	&:focus,
	&:hover {
		background: #BCBCBC;
	}
}

.btn-cv h4 {
    font-size: 1.2rem;
}

.btn-cv a {
    text-decoration: none;
    color: black;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

@media only screen and (max-width: 425px) {
    .btn-cv h4 {
    font-size: 1.3rem;
    }
    .school h3 {
        font-size: 2rem;
    }
    .cv-grid {
    grid-template-columns: 300px;
    }
    .btn-cv {
        padding: 1rem;
    }

}

/* ACTION BUTTON */

.btn {
    text-align: center;
    font-family: PixelOperator, sans-serif;
	background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 4.2rem;
	margin: 1rem;
	min-width: 200px;
	padding: .5rem;
	text-transform: uppercase;
	width: auto;
	
	&:focus,
	&:hover {
		background: #BCBCBC;
	}
}

.btn h3 {
    font-size: 1.5rem;
}

.btn a {
    text-decoration: none;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

/* DARK MODE SLIDER */

.darkmode-container {
    height: 60px;
    background-color: #b8b8b800;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.darkmode-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkmode-icon img {
    height: 20px;
    width: 20px;
} 

.darkmode-slider {
    border: 2px rgba(0, 0, 0, 0.752) solid;
    height: 25px;
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.darkmode-button {
    border: 1.5px #404040 solid;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #7C7C7C;
}

/* FOOTER */

footer h3 {
    margin-top: 10px;
    text-align: center;
    font-family: PixelOperator, sans-serif;
    font-size: 1.2rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.social-icons img {
    height: 80px;
    width: 80px;
    margin-top: 10px;
    padding: 20px;
}

@media only screen and (max-width: 425px) {
    footer h3 {
        margin-top: 10px;
    }
}