* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--primary-text);
}

h2 {
    color: var(--primary-text);
}

h3 {
    color: var(--primary-text);
}

body {
    background-color: var(--page-bg);
    transition: background-color 0.5s ease;
}

@font-face {
    font-family: PixelOperator;
    src: url(Fonts/PixelOperator.ttf);
}

@font-face {
    font-family: RetroGaming;
    src: url(Fonts/Retro\ Gaming.ttf);
}

:root[data-theme="light"] {

    --page-bg: #fff;

    --border-bottom: 2px rgba(188, 188, 188, 0.241) solid;
    --box-shadow: 0px 2px 10px rgba(177, 176, 176, 0.204);

    --primary-text: black;
    --button-text: #fff;
    --nav-text-mobile: lightgray;

    --logo-color: invert(0);
    --nav-hover-color: rgb(144, 144, 144);
    --nav-bg-mobile: rgb(0, 0, 0);
    --menu-color: black;

    --typewriter-color: .15em solid rgb(0, 0, 0);
    --border-color-typewriter: black;

    --button-color: #7c7c7c;
    --button-color-hover: #BCBCBC;
    --button-border-bottom: 6px inset rgba(0,0,0,.5);
    --button-border-left: 6px inset rgba(0,0,0,.5);
    --button-border-right: 6px inset rgba(255,255,255,.5);
    --button-border-top: 6px inset rgba(255,255,255,.5);

    --darkmode-slider-border: 2px rgba(0, 0, 0, 0.752) solid;
    --darkmode-button-color: #7C7C7C;
    --darkmode-button-border: 1.5px #404040 solid;
    
    --slider-button-pos: flex-start;

    --social-media-color: invert(0);
}

:root[data-theme="dark"] {

    --page-bg: #000000;

    --border-bottom: 2px rgba(188, 188, 188, 0.241) solid;
    --box-shadow: 0px 2px 0px white;

    --primary-text: rgb(255, 255, 255);
    --button-text: #000000;
    --nav-text-mobile: rgb(255, 255, 255);

    --logo-color: invert(1);
    --nav-hover-color: rgb(144, 144, 144);
    --nav-bg-mobile: rgb(0, 0, 0);
    --menu-color: white;

    --typewriter-color: .15em solid rgb(255, 255, 255);
    --border-color-typewriter: white;


    --button-color: #d0d0d0;
    --button-color-hover: #a6a6a6;
    --button-border-bottom: 6px inset rgba(0,0,0,.5);
    --button-border-left: 6px inset rgba(0,0,0,.5);
    --button-border-right: 6px inset rgba(255,255,255,.5);
    --button-border-top: 6px inset rgba(255,255,255,.5);

    --darkmode-slider-border: 2px rgb(255, 255, 255) solid;
    --darkmode-button-color: #bebebe;
    --darkmode-button-border: 1.5px #404040 solid;

    --slider-button-pos: end;

    --social-media-color: invert(1);
}

/* HEADER */

.lightmode {

    header.menu {
        width: auto;
        height: 100px;
        border-bottom: var(--border-bottom);
        padding: 0px 50px;
        box-shadow: var(--box-shadow);
    }

    .menu-wrap {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header img {
        height: 80px;
        width: 80px;
        object-fit: contain;
        filter: var(--logo-color);
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
        list-style: none;
        font-family: PixelOperator, sans-serif;
    }

    nav li {
        padding-left: 40px;
        font-size: 1.4rem;
    }

    nav a {
        height: 100px;
        text-decoration: none;
        color: var(--primary-text);
        display: flex;
        align-items: center;

        &:hover {
            color: var(--nav-hover-color);
        }
    }

    .menu-icon {
        display: none;
    }

    #checkbox {
        display: none;
    }

    label {
        display: none;
    }

    @media only screen and (max-width: 425px) {
        header img {
            height: 60px;
            width: 60px;
        }
        .menu-icon {
            display: flex;
            font-size: 2.6rem;
            align-items: center;
        }
        .logo-img {
            display: flex;
            align-items: center;
        }
        header.menu {
            padding: 0 30px;
        }
        nav {
            position: absolute;
            background-color: var(--nav-bg-mobile);
            top: 100px;
            left: 0;
            width: 100%;
        }
        nav ul {
            display: inline;
            list-style-type: none;
            max-height: 0;
            overflow: hidden;
            transition: all 0.5s;
        }
        nav ul li {
            padding: 0 15px;
        }
        nav a {
            display: inline-block;
            height: auto;
            width: 100%;
            padding: 12px;
            color: var(--nav-text-mobile);
            text-decoration: none;

            &:hover,
            &:focus {
                color: rgb(144, 144, 144);
            }
        }
        #checkbox {
            display: none;
        }
        #checkbox:checked ~ nav ul {
            max-height: 260px;
            padding: 15px 0;
            transition: all 0.5s;
            margin-bottom: 20px;
        }
        label {
            display: flex;
            color: var(--menu-color);
        }
    } 
}

/* MAIN BANNER */

.banner-hero {
    text-align: center;
    margin: 100px 0px;
}

.banner-hero h1 {
    font-family: RetroGaming, sans-serif;
    font-size: 3.8rem;
    margin-bottom: 60px;
}

.banner-hero h2 {
    font-family: PixelOperator, sans-serif;
    font-size: 2.5rem;
    width: auto;
    display: inline-block;
}

.typewriter {
    display: inline-block;
}

.typewriter h2 {
    overflow: hidden;
    border-right: var(--typewriter-color);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 2.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--border-color-typewriter); }
}

@media only screen and (max-width: 425px) {
    .banner-hero h1 {
        font-size: 3rem;
    }
    .banner-hero h2 {
        font-size: 2rem;
    }
}

/* Press Start */

.black-stripe {
    width: auto;
    height: 220px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-stripe img {
    width: 320px;
}

.btn {
    text-align: center;
    font-family: PixelOperator, sans-serif;
	background: var(--button-color);
	border-bottom: var(--button-border-bottom);
	border-left: var(--button-border-left);
	border-right: var(--button-border-right);
	border-top: var(--button-border-top);
	box-sizing: border-box;
	color: var(--button-text);
	cursor: pointer;
	display: inline-block;
	font-size: 4.2rem;
	margin: 1rem;
	min-width: 200px;
	padding: .5rem;
	text-transform: uppercase;
	width: auto;
	
	&:focus,
	&:hover {
		background: var(--button-color-hover);
	}
}

.btn p {
    font-size: 1.5rem;
}

.btn a {
    text-decoration: none;
    color: var(--button-text);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* DARK MODE SLIDER */

.darkmode-container {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.darkmode-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkmode-icon img {
    height: 20px;
    width: 20px;
} 

.darkmode-slider {
    border: var(--darkmode-slider-border);
    height: 25px;
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: var(--slider-button-pos);
    cursor: pointer;
}

.darkmode-button {
    border: var(--darkmode-button-border);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: var(--darkmode-button-color);
}

.darkmode-icon img {
    filter: var(--logo-color);
}

/* FOOTER */

footer h3 {
    margin-top: 10px;
    text-align: center;
    font-family: PixelOperator, sans-serif;
    font-size: 1.2rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.social-icons img {
    height: 80px;
    width: 80px;
    margin-top: 10px;
    padding: 20px;
    filter: var(--social-media-color);
}

@media only screen and (max-width: 425px) {
    footer h3 {
        margin-top: 10px;
    }
}